 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I believe apps should delight people. They should make the users feel smart and help accomplish their goals in the best way possible.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you like my work and think there is an opportunity to work with me, please contact me.</p>
                </div>
            </div>
        </div>
    </section>